.container {
  max-height: 500px;
  overflow: auto;
}

/* width */
.container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 80px;
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
